global
    log 127.0.0.1    local0
    log 127.0.0.1    local1 notice
    tune.ssl.default-dh-param 2048
    maxconn 4096
    daemon

defaults
    log    global
    mode    http
    option    httplog
    option    dontlognull
    option forwardfor
    option http-server-close
    stats enable
    stats auth someuser:somepassword
    stats uri /haproxyStats
    timeout connect 5000
    timeout client 50000
    timeout server 50000

frontend http-in
    bind *:80
    reqadd X-Forwarded-Proto:\ http
    default_backend application-backend

frontend https-in
    bind *:443 ssl crt /etc/ssl/server.pem
    reqadd X-Forwarded-Proto:\ https
    default_backend application-backend

backend application-backend
    redirect scheme https if !{ ssl_fc }
    balance leastconn
    option httpclose
    option forwardfor
    cookie JSESSIONID prefix
    server node1 push_python:5000 cookie A check
