<!doctype html>
<html>
<head>
<title>Gulasch Push Notifier</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class=page>
    <p>
    {% if current_user.is_authenticated %}
    Hi {{ current_user.name }}!

    <form action="{{ url_for('logout') }}" method=post>
        <input type="submit" value="Logout">
    </form>
    {% endif %}
    </p>

    <h1>Gulasch Push Notifier</h1>
    {% block body %}{% endblock %}
</div>
</body>
</html>
