{% extends "layout.html" %}
{% block body %}

<h2>Create Channel :</h2><br>
<form action="{{ url_for('new_channel') }}" method=post>
      <dt>Channel Name:</dt>
      <dd><input type="text" size=30 name="display_name"></dd>
      <dt>URL: <code>/api/channel/&lt;URL&gt;</code></dt>
      <dd><input type="text" size=30 name="url"></dd>
      <input type="submit" value="Add">
</form>

<h2>Active Channels :</h2><br>
{% for channel in channels %}
Channel Name: <code>{{ channel.display_name }}</code><br>
URL: <code>/api/channel/{{ channel.url }}</code>
  <form action="{{ url_for('delete_channel') }}" method=post>
    <dl>
        <input type="hidden" name="id" value="{{ channel.id }}">
        <input type="submit" value="Delete">
    </dl>
  </form>
{% endfor %}


<h2>Create Notification :</h2>
<form action="{{ url_for('new_notification') }}" method=post>
  <dl>
      <dt>Channel:</dt>
      <dd>
        <select name="channel">
          {% for chan in channels %}
          <option value="{{ chan.id }}">{{ chan.display_name }}</option>
          {% endfor %}
        </select>
      </dd>
      <dt>Display Name:</dt>
      <dd><input type="text" size=30 name="summary"></dd>
      <dt>Description:</dt>
      <dd><textarea name="description" rows=5 cols=40></textarea></dd>
      <dt>Location:</dt>
      <dd><input type="text" name="location" size=30></input></dd>
      <dt>Valid from:</dt>
      <dd><input type="text" size=30 name="valid_from" value="{{ current_time }}"></dd>
      <dt>Valid to:</dt>
      <dd><input type="text" size=30 name="valid_to" value="{{ next_time }}"></dd>
      <input type="submit" value="Add">
  </dl>
</form>
<ul class=entries>
<h2>Current Notifications :</h2>
{% for noti in notifications %}
<li>
  <h3>{{ noti.channel_display_name }} – {{ noti.summary }}</h3>
    <em>Valid: <code>{{ noti.valid_from }} - {{ noti.valid_to }}</code></em><br/>
    <em>Location: <code>@{{ noti.location }}</code></em>
    <p>
    <em>Message:<br><code>{{ noti.description }}</code></em>
    </p>
    <form action="{{ url_for('delete_notification') }}" method=post>
      <dl>
          <input type="hidden" name="id" value="{{ noti.id }}">
          <input type="submit" value="Delete">
      </dl>
    </form>
</li>
{% else %}
<li><em> <code>Unbelievable.  No notifications so far</code>  </em></li>
{% endfor %}
</ul>
{% endblock %}

