{% extends "layout.html" %}
{% block body %}

<h2>Channels</h2>
<form action="{{ url_for('new_channel') }}" method=post>
  <dl>
      <dt>Display name:</dt>
      <dd><input type="text" size=30 name="display_name"></dd>
      <dt>URL <code>(/api/channel/&lt;URL&gt;)</code>:</dt>
      <dd><input type="text" size=30 name="url"></dd>
      <dd><input type="submit" value="Add"></dd>
  </dl>
</form>

<ul>
{% for channel in channels %}
<li>{{ channel.display_name }}<br/>Url: {{ channel.url }}
  <form action="{{ url_for('delete_channel') }}" method=post>
    <dl>
        <input type="hidden" name="id" value="{{ channel.id }}">
        <dd><input type="submit" value="Delete"></dd>
    </dl>
  </form>
</li>
{% endfor %}
</ul>

<h2>Notification List</h2>
<form action="{{ url_for('new_notification') }}" method=post>
  <dl>
      <dt>Channel:</dt>
      <dd>
        <select name="channel">
          {% for chan in channels %}
          <option value="{{ chan.id }}">{{ chan.display_name }}</option>
          {% endfor %}
        </select>
      </dd>
      <dt>Summary:</dt>
      <dd><input type="text" size=30 name="summary"></dd>
      <dt>Description:</dt>
      <dd><textarea name="description" rows=5 cols=40></textarea></dd>
      <dt>Location:</dt>
      <dd><input type="text" name="location" size=30></input></dd>
      <dt>Valid from:</dt>
      <dd><input type="text" size=30 name="valid_from" value="{{ current_time }}"></dd>
      <dt>Valid to:</dt>
      <dd><input type="text" size=30 name="valid_to" value="{{ next_time }}"></dd>
      <dd><input type="submit" value="Add"></dd>
  </dl>
</form>
<ul class=entries>
{% for noti in notifications %}
<li>
  <h3>{{ noti.channel_display_name }}: {{ noti.summary }}</h3>
    <em>Valid: {{ noti.valid_from }} - {{ noti.valid_to }}</em><br/>
    <em>Location: {{ noti.location }}</em>
    <p>
    {{ noti.description }}
    </p>
    <form action="{{ url_for('delete_notification') }}" method=post>
      <dl>
          <input type="hidden" name="id" value="{{ noti.id }}">
          <dd><input type="submit" value="Delete"></dd>
      </dl>
    </form>
</li>
{% else %}
<li><em>Unbelievable.  No notifications so far</em></li>
{% endfor %}
</ul>
{% endblock %}

