{% extends "layout.html" %}
{% block body %}

<h2>Users</h2>
<form action="{{ url_for('new_user') }}" method=post>
  <dl>
      <dt>Name:</dt>
      <dd><input type="text" size=30 name="name"></dd>
      <dt>Password:</dt>
      <dd><input type="password" size=30 name="password"></dd>
      <dd><input type="submit" value="Add"></dd>
  </dl>
</form>

<ul>
{% for user in users %}
<li>{{ user.name }}<br/>Admin: {{ user.admin }}
  <form action="{{ url_for('delete_user') }}" method=post>
    <dl>
        <input type="hidden" name="id" value="{{ user.id }}">
        <dd><input type="submit" value="Delete"></dd>
    </dl>
  </form>
</li>
{% endfor %}
</ul>

{% endblock %}
